    <section class="section company-cta">
    	<div class="wrapper">
    		<div class="grid grid--2-cols">
    			<img src="{{ base_path }}themes/custom/laveletav2/images/logotipo.svg" alt="" class="company-cta__logo">
    			<div class="company-cta__texts">
    				<h2 class="company-cta__title"><span>Lotería para </span>empresas</h2>
    				<p class="company-cta__excerpt">Te ayudamos en la gestión, reserva y compra de la Lotería de Navidad de tu empresa con nuestro servicio de Lotería para Empresas, haciendo el proceso más cómodo, fácil y seguro.</p>
    				<div class="company-cta__btns">
    					<a href="{{ url('empresas.empresas_contacto') }}" title="Contacta con nostros para loteria de empresas" class="btn btn--primary company-cta__btn">Reservar número</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>