{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="card">
    <div class="buscador-decimos">    {{ form }}
     
    </div>
     <div><a href="{{ url('contacto.form') }}">Escr&iacute;benos si estas interesado en un n&uacute;mero concreto</a></div>
</div>
