  {% include '@laveletav2/layout/header.html.twig' %}
<main class="site-main">
    <section id="usuario-section" class="wrapper">
      <header class="section__header user__header">
            <h1 class="section__title user__title"><span class="user__welcome">Bienvenido</span>{{ user_logged_in_name }}</h1>
            <span class="user__icon icon-person"></span>
      </header>

           {{ page.content }}
        </div>
    </section>
  {% include '@laveletav2/layout/sections/empresas.html.twig' %}
  {% include '@laveletav2/layout/sections/jugar-a.html.twig' %}
</main>
  {% include '@laveletav2/layout/footer.html.twig' %}
