<div class="wrapper">
    <div class="card">
        <form{{ attributes }}>
        {{ children }}
        </form>
        <p>
            <a href="#" onclick="window.history.back();">Regresar a la página anterior</a>
        </p>
    </div>
</div>
