<div id="led">
  <div id="botes-led" style="display:none">
    {% include 'botes.html.twig' with botes %}
  </div>
  <div id="resultados-led">
    {% include 'resultados.html.twig' with resultados %}
  </div>
</div>
