{#
/**
 * @file empresa.html.twig
 * Default theme implementation to present Empresa data.
 *
 * This template is used when viewing Empresa pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_empresa()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('empresa') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
