<section id="checkout-progress">
	<div class="wrapper">
		<div class="grid grid--1-cols">
            {% block content %}
              {{ content }}
            {% endblock %}
        </div>
    </div>
</section>
 